.annotation-tool {
    background-color: var(--main-bg-color);
    width: 1fr;
    height: 100%;
}

.annotation-tool-wrapper {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.top-control-bar {
    display: flex;
    margin-bottom: 10px;
    margin-left: 110px;
}

.row-2 {
    display: flex;
    gap: 5px;
}

.side-control-bar-left {
    height: 100%;
}

.side-control-bar-buttons {
    display: flex;
    flex-direction: column;
    width: 55px;
}

.side-control-bar-buttons > * {
    margin-bottom: 10px;
}

.canvas-wrapper {
    display: flex;
    width: 80%;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    /*border: 1px solid rgb(59, 59, 59);*/
}

.annotation-tool-canvas {
    width: 1024px;
    height: 600px;
}

.canvas-placeholder {
    height:100%;
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}